---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

</br>
<h1 class="page__title">Supervising</h1>
<ul>
  <li>
    <p>
      Feature extraction and feature evaluation framework for document representation</br>
      Author: Wang, Y., 27 Nov 2017</br>
      Supervisor: Ni'Mah, I. (Supervisor 1), Menkovski, V. (Supervisor 2), van Ipenburg, W. (External person) (External coach) & Wilbik, A. (Supervisor 2)</br>
      Student thesis: Master</br>
    </p>
  </li>
</ul>


</br>
<h1 class="page__title">Reviewing (Scientific Committee Member)</h1>
<ul>
  <li>International conferences held by Indonesian institution: <a href="http://situs.opi.lipi.go.id/ic3ina2017/">IC3INA-2017</a>, <a href="https://niss22.medi-ast.org/">NISS-2022</a></li>
  <li>International conferences (Global): EMNLP-2022</li> 
</ul>

</br>
<h1 class="page__title">Committee</h1>
<ul>
  <li>Organizing committee (treasury): <a href="http://www.opi.lipi.go.id/pertemuan.cgi?organizer&&&1417678076&Inggris&1359004637">IC3INA-2015</a>, <a href="http://www.opi.lipi.go.id/pertemuan.cgi?organizer&&&1453467577&Inggris&1359004637">IC3INA-2016</a></li>
</ul>

</br>
<h1 class="page__title">Others</h1>
<ul>
  <li>2017-2019: Research investigator at Know Your Customer (KYC) project, DAI cluster, Eindhoven University of Technology</li>
  <li>2018-recent: Administrator of High Performance Computing (HPC) DAI cluster, Eindhoven University of Technology</li>
  <li>2021: Volunteer at EMNLP 2021</li>
</ul>
