---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

</br>
<h1 class="page__title">Supervising</h1>
<ul>
  <li>
  <p>
    Workshop publication output: <a href="https://arxiv.org/pdf/1811.03970.pdf"><i>"Looking Deeper into Deep Learning Model: Attribution-based Explanations of TextCNN"</i></a>, NIPS 2018 Workshop on Challenges and Opportunities for AI in Financial Services: the Impact of Fairness, Explainability, Accuracy, and Privacy.</br>
    Student: Xiong, W.</br>
    Project: Know Your Customer (KYC).</br>
    Supervisor: Pechenizkiy, Mykola</br>
  </p>
</li>
  <li>
    <p>
      <i>Feature Extraction and Feature Evaluation Framework for Document Representation</i></br>
      Author: Wang, Y., <i>27 Nov 2017</i></br>
      Project: Know Your Customer (KYC).</br>
      Supervisor: Ni'Mah, I. (Supervisor 1), Menkovski, V. (Supervisor 2), van Ipenburg, W. (External person) (External coach) & Wilbik, A. (Supervisor 2)</br>
      Student thesis: Master.</br>
    </p>
  </li>

</ul>


</br>
<h1 class="page__title">Peer Reviewing (Scientific Reviewer)</h1>
<ul>
  <li>International conferences held by Indonesian institution: <a href="http://situs.opi.lipi.go.id/ic3ina2017/">IC3INA-2017</a>, <a href="https://niss22.medi-ast.org/">NISS-2022</a></li>
  <li>International conferences (Global): EMNLP-2022 (Tracks: (i) Interpretability, Interactivity and Analysis of Models for NLP; (ii) Language Modeling and Analysis of Language Models), EACL-2022 (upcoming)</li> 
</ul>

</br>
<h1 class="page__title">Committee</h1>
<ul>
  <li>Organizing committee (treasury): <a href="http://www.opi.lipi.go.id/pertemuan.cgi?organizer&&&1417678076&Inggris&1359004637">IC3INA-2015</a>, <a href="http://www.opi.lipi.go.id/pertemuan.cgi?organizer&&&1453467577&Inggris&1359004637">IC3INA-2016</a></li>
</ul>

</br>
<h1 class="page__title">Others</h1>
<ul>
  <li>2021-recent: Member of <i>Center for Data and Information Sciences</i>, BRIN, Bandung, Indonesia </li>
  <li>2018-recent: Administrator of High Performance Computing (HPC) DAI cluster, Eindhoven University of Technology</li>
  <li>2021: Student participant and volunteer at EMNLP 2021</li>
  <li>2018: Student participant at EMNLP 2018</li>
  <li>2017-2019: Research investigator at Know Your Customer (KYC) project, DAI cluster, Eindhoven University of Technology</li>
</ul>
